<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Craftsvilla">
<listeners>
<listener class-name="com.craftsvilla.generic.Itest"></listener>
</listeners>
  <test  name="Regression">
  <classes>
 <class name="com.craftsvilla.testscripts.KundanJewelleryscripts"></class> 
  <!-- <class name="com.craftsvilla.testscripts.signupscripts"></class> -->
  </classes>
  </test> <!-- Regression -->
</suite> <!-- Craftsvilla -->
